<mat-card>
    <mat-card-content>
        <h2>{{news?news.content:"Welcome to News App"}}</h2>
    </mat-card-content>
</mat-card>

<mat-card class="card-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Arcu bibendum at varius vel. Augue lacus viverra vitae congue eu consequat. Vel facilisis volutpat est velit egestas
        dui. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Ipsum dolor sit amet consectetur. Sem nulla pharetra
        diam sit amet. Suspendisse interdum consectetur libero id faucibus nisl. Sapien faucibus et molestie ac feugiat.
        Pellentesque habitant morbi tristique senectus et. Est placerat in egestas erat imperdiet. Tortor condimentum lacinia
        quis vel eros. Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Interdum varius sit amet mattis vulputate
        enim nulla aliquet. Turpis egestas sed tempus urna et pharetra pharetra massa. Consequat semper viverra nam libero.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Arcu bibendum at varius vel. Augue lacus viverra vitae congue eu consequat. Vel facilisis volutpat est velit egestas
        dui. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Ipsum dolor sit amet consectetur. Sem nulla pharetra
        diam sit amet. Suspendisse interdum consectetur libero id faucibus nisl. Sapien faucibus et molestie ac feugiat.
        Pellentesque habitant morbi tristique senectus et. Est placerat in egestas erat imperdiet. Tortor condimentum lacinia
        quis vel eros. Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Interdum varius sit amet mattis vulputate
        enim nulla aliquet. Turpis egestas sed tempus urna et pharetra pharetra massa. Consequat semper viverra nam libero.
    </p>
</mat-card>